/* ==========================================================================*/
/**/
/* ==========================================================================*/
@import url("https://fonts.googleapis.com/css?family=Slabo+27px|Ubuntu");
/* line 5, sass/_partial.scss */
body {
  color: white;
  background-color: #537961;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, node_modules/susy/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 17, sass/_partial.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 21, sass/_partial.scss */
a:hover {
  color: red;
}

/* line 26, sass/_partial.scss */
.center {
  text-align: center;
}

/* line 28, sass/_partial.scss */
.center i {
  font-size: 44px;
}

/* line 33, sass/_partial.scss */
header {
  margin-top: 0;
  background-color: #688675;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 40, sass/_partial.scss */
ul {
  height: 100px;
}

/* line 44, sass/_partial.scss */
li.menu-item {
  list-style-type: none;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 55, sass/_partial.scss */
li.menu-item a {
  display: inline-block;
  padding: 0 50px;
  border-radius: 30px;
  background-color: #2e2e2e;
}

/* line 62, sass/_partial.scss */
li.menu-item a:hover {
  background-color: #000;
}

/* line 68, sass/_partial.scss */
.box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 71, sass/_partial.scss */
aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 74, sass/_partial.scss */
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 84, sass/_partial.scss */
.sidebar li {
  list-style-type: none;
}

/* line 89, sass/_partial.scss */
.gallery img {
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 95, sass/_partial.scss */
.verte {
  cursor: pointer;
  background-color: #fff;
}

/* line 101, sass/_partial.scss */
.bleu {
  background-color: blue;
}

/* line 105, sass/_partial.scss */
.box li {
  color: black;
}

/* line 109, sass/_partial.scss */
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/*# sourceMappingURL=maps/style.css.map */
